<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Input Form</title>
        <!--Load bootstrap.css file-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <h1 class="display-4">Tambah User Baru</h1>
                        <hr class="my-4">
                        <form method="POST" action="/">
                            <div class="form-group">
                                <label for="nama">Masukkan Nama</label>
                                <input type="text" class="form-control" name="nama" id="nama" aria-describedby="nameHelp">
                                <small id="nameHelp" class="form-text text-muted">Masukkan nama</small>
                            </div>
                          <button type="submit" class="btn btn-success">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    <!--Load bootstrap.js file-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>