<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Hello {{ name }}</title>
<!--Load bootstrap.css file-->
<link rel="stylesheet" href="css/bootstrap.css"/>
</head>
<body>
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="jumbotron">
<h1 class="display-4">Hello, {{ name }}</h1>
<p class="lead">Website sederhana Endra Wahyudi</p>
<hr class="my-4">
<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
</div>
</div>
</div>
<!--Load bootstrap.js file-->
<script src="js/bootstrap.js"></script>
</body>
</html>